&GLOBAL
  PROJECT @PROJECT
  RUN_TYPE ENERGY_FORCE
  PRINT_LEVEL MEDIUM
&END GLOBAL

&FORCE_EVAL
  METHOD Quickstep
  &DFT
    BASIS_SET_FILE_NAME @BASIS_FILE
    POTENTIAL_FILE_NAME @POTENTIAL_FILE
    &MGRID
      CUTOFF @CUTOFF
      REL_CUTOFF 60
    &END MGRID
    &SCF
      SCF_GUESS RESTART
      &OT ON
        MINIMIZER DIIS
      &END OT
    &END SCF
    &XC
      &XC_FUNCTIONAL @XC_FUNCTIONAL
      &END XC_FUNCTIONAL
    &END XC
  &END DFT
  &SUBSYS
    &CELL
      @CELL_PARAMS
    &END CELL
    &COORD
      @COORD_FILE
    &END COORD
    &TOPOLOGY
      COORD_FILE_FORMAT @COORD_FORMAT
      COORD_FILE_NAME @COORD_FILE_NAME
    &END TOPOLOGY
  &END SUBSYS
&END FORCE_EVAL
